body {
}

.selected, .hovered {
  background-color: #f0f0f0;
  cursor: pointer;
}

.token {
  padding: 2px 4px;
  border: 1px solid #ddd;

}

.delete-icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 2px;
  background: url(./img/delete-icon.svg) no-repeat 50% 50%;
  background-size: 7px 7px;
}